Alice Brennan 
Student ID: X0022770

In [2]:
import pandas as pd
df_rawdata = pd.read_csv("Job Adverts Dataset.zip")

#df_rawdata.head()
df_rawdata.isna().sum()

job_id                     0
title                      0
location                 346
department             11547
salary_range           15012
company_profile         3308
description                1
requirements            2696
benefits                7212
telecommuting              0
has_company_logo           0
has_questions              0
employment_type         3471
required_experience     7050
required_education      8105
industry                4903
function                6455
fraudulent                 0
dtype: int64

Pulling random samples of 0/1 to review language and wording in adverts.

In [3]:
fraud_sample = df_rawdata[df_rawdata['fraudulent']==1]

fraud_sample = fraud_sample[['title','location', 'company_profile', 'description','requirements']].sample(5, random_state=42)

fraud_sample

,title,location,company_profile,description,requirements
17789,customer service rep,"US, CA, sacremento",NaN,customer service reps needed asap,NaN
11628,Sales Professional- SMB (Full-Time),"US, MD, Baltimore",Making Mobile Device Management Clear is Clear...,- Maintain a high level of Clearmark solution ...,Job Requirements High School Diploma or GEDPas...
17617,Office Assistant III,"US, FL, jacksonville",NaN,"Essential DutiesGreets callers and visitors, d...",Minimum QualificationsA high school graduate o...
17777,Hiring Part-Time Workers (CASH PAYING),"US, CA, Los Angeles",NaN,Hiring Part-Time Workers (CASH PAYING)You can ...,No any experience #URL_5a85681305d45d339fe0299...
997,EXECUTIVE SOUS CHEF,"MY, ,",Le Meridien is situated in the heart of kuala ...,Responsible for assisting in the direction and...,NaN

In [4]:
df_rawdata.shape
df_rawdata.head()
df_rawdata['fraudulent'].value_counts(normalize=True)

fraudulent
0    0.951566
1    0.048434
Name: proportion, dtype: float64

Assessing Missing Data

In [12]:
#df_rawdata.isna().sum()
#
#(df_rawdata == '').sum()

df_rawdata['company_profile'].str.strip().eq('').sum()

np.int64(0)

Checking to see if adverts missing company profile are fraudulent:

In [13]:
pd.crosstab(
    df_rawdata['company_profile'].isna(),
    df_rawdata['fraudulent'],
    normalize='index'
)

fraudulent              0         1
company_profile
False            0.980854  0.019146
True             0.822551  0.177449

Chi test to scrutinise findings

In [15]:
import pandas as pd

contingency = pd.crosstab(
    df_rawdata['company_profile'].isna(),
    df_rawdata['fraudulent']
)

contingency

from scipy.stats import chi2_contingency

chi2, p, dof, expected = chi2_contingency(contingency)

print("Chi-square statistic:", chi2)
print("p-value:", p)

Chi-square statistic: 1462.4603885245613
p-value: 0.0

In [16]:
import numpy as np

n = contingency.sum().sum()
cramers_v = np.sqrt(chi2 / (n * (min(contingency.shape)-1)))

print("Cramér's V:", cramers_v)

Cramér's V: 0.2859949066093994

In [17]:
df_rawdata['salary_range'].dtype

dtype('O')

In [18]:
df_rawdata['salary_range'].head(10)

0            NaN
1            NaN
2            NaN
3            NaN
4            NaN
5            NaN
6    20000-28000
7            NaN
8            NaN
9            NaN
Name: salary_range, dtype: object

In [19]:
df_rawdata['salary_range'].unique()[:20]

array([nan, '20000-28000', '100000-120000', '120000-150000',
       '50000-65000', '40000-50000', '60-80', '65000-70000', '75-115',
       '75000-110000', '17000-20000', '16000-28000', '95000-115000',
       '15000-18000', '50000-70000', '45000-60000', '30000-40000',
       '70000-90000', '10000-14000', '50-110'], dtype=object)

In [20]:
df_rawdata['salary_range'].isna().mean()

np.float64(0.8395973154362416)